<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Input Education</title>
</head>
<body style="background-color:powderblue;">
<form action="#"
      th:action="@{/processeducation}"
      th:object="${addeducation}"
      method="post">
    <h2>Education</h2><br />
    <input type="hidden" th:field="*{id}" />
    Degree Subject :<input type="text" th:field="*{degreesubject}" />
    <span th:if="${#fields.hasErrors('degreesubject')}"
          th:errors="*{degreesubject}"></span><br />

    Degree Type :<input type="text" th:field="*{degreetype}" />
    <span th:if="${#fields.hasErrors('degreetype')}"
          th:errors="*{degreetype}"></span><br />

    School :<input type="text" th:field="*{schoolplace}" />
    <span th:if="${#fields.hasErrors('schoolplace')}"
          th:errors="*{schoolplace}"></span><br />

    Date Graduated :<input type="text" th:field="*{degreeyear} " />
    <span th:if="${#fields.hasErrors('degreeyear')}"
          th:errors="*{degreeyear}"></span><br />

    <br />
    <input type="submit" value="Next" />
    <br />
</form>
<a th:href="@{/addexp}">Skip</a><br />
</body>
</html>